* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
 
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  justify-items: center;
  align-items: center;
}

.square {
  background: #fff;
  border: 2px solid;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.winner-status{
  color: green;
  font-weight: bold;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

@keyframes blink {
  0% { background-color: lightgreen; }
  50% { background-color: white; }
  100% { background-color: lightgreen; }
}

.square.highlight {
  animation: blink 1s infinite;
  box-shadow: 0 0 8px rgba(102, 255, 0, 0.789);
  border: 2px solid green;
}